*{
  padding: 0;
  margin: 0;
}

body{
  color: #2E382E;
  font-size: 25px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  background-color: #EEE82C;
}

h1{
  font-size: 80px;
  font-family: 'Bangers', cursive;
  color: #06A77D;
  letter-spacing: 2px;
}

h3{
  font-size: 25px;
  font-weight: 400;
  color: #06a77cc9;
  font-family: 'Londrina Solid', cursive;
  letter-spacing: 2px;
}

.btn-purple{
  padding: 7px 10px;
  background-color: #564592;
  border-radius: 7px;
}

a{
  color: whitesmoke;
  text-decoration: none;
}

.btn a:hover{
  font-size: 30px;
  background-color: #06A77D;
  padding: 5px 10px;
  transition: 0.3s;
}

header{
  margin: 20px;
}

.container{
  width: 900px;
  margin: 40px auto;
}

/*---------MEDIA QUERIES-------------*/
@media (max-width: 1024px) {
  .container{
    width: 900px;
    margin: 40px auto;
  }
}

@media (max-width: 768px) {
  .container{
    width: 600px;
    margin: 20px auto;
  }
}

@media (max-width: 480px) {
  .container{
    width: 400px;
    margin: 5px auto;
  }
}

.card{
  border-radius: 5px;
  text-align: center;
  background-color: #F7F9FC;
  padding: 40px;
  margin: 20px;
  box-shadow: 0px 10px 30px #247ba06b;
}

.img-circle{
  width: 60px;
  border-radius: 50%;
}

i {
  margin: 10px;
  color: #564592;
  font-size: 40px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}


.list-inline > li{
  display: inline-block;
  padding: 0px 20px;
}

i:hover{
  font-size: 50px;
  color: #06A77D;
  transition: 0.3s;
}
